@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 16px;
  font-family: 'Cambria', serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #FFFDC3;
  --bg-secondary: #F8E3C0;
  --bg-tertiary: #f7f2ab;
}



@layer base {
  html {
    @apply bg-gradient-to-tr from-[--bg-primary] from-10% to-[--bg-secondary];
    @apply scrollbar scrollbar-thumb scrollbar-track
  }

  body {
    @apply m-0 p-0;
  }

  main {
    @apply ml-20 p-4
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.25rem
  }

  .scrollbar-track::-webkit-scrollbar-track {
    background: slategrey;
  }

  .scrollbar-thumb::-webkit-scrollbar-thumb {
    background: aliceblue;
  }
}